@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
:root{
  --black : #222;
  --space : 18.563%
}

*{ 
  margin: 0;
  padding: 0;
  font-family:'Lato', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #222;
}


.bg{
  background-image:linear-gradient(rgba(0, 0, 0, 0.57), var(--black)),url('./component/Images/BackGround.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
}